.overflow {
  border: solid 1px $gray1;
  margin-bottom: $common-margin-bottom;
  padding: $common-padding;
}

.overflow--1 {
  height: 100px;
  overflow-y: auto;
}

.overflow--2 {
  position: relative;
  height: 150px;

  div {
    position: absolute;
    top: $common-padding;
    left: $common-padding;
    width: calc(100% - #{$common-padding} * 2);
  
    height: 100px;
    overflow-y: auto;

    border: solid 1px $gray1;
  }
}

.overflow--3 {
  height: 50%;
  overflow-y: auto;

  border: solid 1px $gray1;
}
