<!doctype html>

<html lang="jp">
<head>
  <meta charset="utf-8">
  <title>html5</title>
  <meta name="description" content="simple html5">
  <meta name="author" content="foobar">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="app" class="app">
    <header>
      <h1>html/css samples</h1>
    </header>

    <div class="content">
      <div v-if="current==='top'">
        <h2>top</h2>
      </div>

      <flex v-if="current==='flex'"></flex>
      <overflow v-if="current==='overflow'"></overflow>

    </div>

    <section class="nav">
      <ul>
        <li @click="changeCurrent('top')">top</li>
        <li @click="changeCurrent('flex')">flex</li>
        <li @click="changeCurrent('overflow')">overflow</li>
      </ul>
    </section>


    <footer>
      footer
    </footer>
  </div>
  <script src="js/flex.js"></script>
  <script src="js/overflow.js"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        current: 'flex'
      },
      methods: {
        changeCurrent: function (v) {
          this.current = v
        }
      }
    })
  </script>
</body>
</html>