<!doctype html>

<html lang="jp">
<head>
  <meta charset="utf-8">
  <title>html5</title>
  <meta name="description" content="simple html5">
  <meta name="author" content="foobar">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="app" class="app">
    <header>
      <h1>html/css samples</h1>
    </header>

    <div class="content">
      <div v-if="current==='top'">
        <h2>top</h2>
      </div>

      <flex v-if="current==='flex'"></flex>
      <overflow v-if="current==='overflow'"></overflow>
      <height v-if="current==='height'"></height>
      <color v-if="current==='color'"></color>
    </div>

    <section class="nav">
      <ul>
        <li v-for="nav in navs" :key="nav" @click="changeCurrent(nav)">{{nav}}</li>
      </ul>
    </section>


    <footer>
      footer
    </footer>
  </div>
  <script src="js/flex.js"></script>
  <script src="js/overflow.js"></script>
  <script src="js/height.js"></script>
  <script src="js/color.js"></script>
  <script type="text/javascript">
    const NAVS =  [
      'top',
      'flex',
      'overflow',
      'height',
      'color'
    ]
    var app = new Vue({
      el: '#app',
      data: {
        current: NAVS[3],
        navs: NAVS
      },
      methods: {
        changeCurrent: function (v) {
          this.current = v
        }
      }
    })
  </script>
</body>
</html>